In [1]:
import pandas as pd

df = pd.read_csv('bigmac.csv')

df

       Date        Country  Price in US Dollars
0    1/2016      Argentina                 2.39
1    1/2016      Australia                 3.74
2    1/2016         Brazil                 3.35
3    1/2016        Britain                 4.22
4    1/2016         Canada                 4.14
..      ...            ...                  ...
647  1/2010         Turkey                 3.83
648  1/2010            UAE                 2.99
649  1/2010        Ukraine                 1.83
650  1/2010  United States                 3.58
651  1/2010        Uruguay                 3.32

[652 rows x 3 columns]